* {
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    display: grid;
    grid-template-rows: 150px 1fr;
    font-family: 'Dosis', sans-serif;
}

#sudoku-app {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

.grid-sudoku {
    display: table;
    background: white;
    border: 3px solid black;
}

    .grid-sudoku > div:nth-child(3), .grid-sudoku > div:nth-child(6) {
        border-bottom: 3px solid black;
    }

    .grid-row > div:nth-child(3), .grid-row > div:nth-child(6) {
        border-right: 3px solid black;
    }

.grid-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid black;
}

.grid-cell-editor {
    border: none;
    width: 20px;
    height: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}